/*table settings*/

.compareguitars {
    margin-top: 2%;
    margin-bottom: 3%;
}

th {
    font-weight: bold;
}

td, th {
    width: 15%;
    color: black;
    font-size: 1.3vw;
    border: 1px solid black;
    height: 25%;
    padding: 1%;
}

.compareguitars img {
    width: 50%;
}

p {
    color: red;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

tr:nth-child(2) {
    color: red;
    font-weight: bolder;
}

tr:nth-child(odd) {
    background-color: ghostwhite;
}