input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #263026;
    color: white;
    padding: 12px 20px;
    border: none;
}

input[type=submit]:hover {
    background-color: #8a9b8b;
}

/* Style the container/contact section */

.container {
    border-radius: 5px;
    padding: 10px;
}

/* form*/

.form {
    float: left;
    width: 40%;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 20px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
}

.radio {
    border: 1px gainsboro solid;
    padding: 2%;
    margin: 2%;
    width: 80%;
}

/*map*/

iframe {
    margin-left: 5%;
    width: 50%;
    border: 2px solid gainsboro;
    margin-top: 15%;
}

textarea {
    height: 70%;
}

/*div of address*/

#contactdetails {
    position: absolute;
    left: 50%;
    top: 45%;
}

#contactdetails img {
    width: 5%;
}

#contactdetails a {
    padding: 1%;
}

#country {
    width: 70%;
}